.registration {
  padding-top: 67px;
  padding-bottom: 49px;
  @media screen and (min-width: 768px) {
    padding-top: 135px;
    padding-bottom: 96px;
  }
  @media screen and (min-width: 992px) {
    padding-top: 155px;
    padding-bottom: 114px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 127px;
  }
  h2 {
    margin-bottom: 14px;
    @media screen and (min-width: 768px) {
      margin-bottom: 23px;
    }
    @media screen and (min-width: 992px) {
      margin-bottom: 15px;
    }
  }
  h5 {
    margin: auto;
    @media screen and (min-width: 768px) {
      width: 400px;
    }
    @media screen and (min-width: 992px) {
      width: auto;
    }
  }
  form {
    margin-top: 33px;
    @media screen and (min-width: 768px) {
      margin-top: 52px;
    }
    @media screen and (min-width: 992px) {
      margin-top: 62px;
    }
    .abz-btn {
      margin: 55px auto 22px auto;
      @media screen and (min-width: 768px) {
        margin: 22px auto;
      }
    }
    .submit-status {
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      text-align: center;
      @media screen and (min-width: 768px) {
        top: 70px;
      }
      .success {
        color: #0a0;
      }
      .error {
        color: #F44133;
      }
    }
  }
}