<section id="signUp" class="registration">
  <div class="container custom-bs-padding">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Register to get a work</h2>
        <h5 class="text-center">
          Attention! After successful registration and alert, update the
          list of users in the block from the top
        </h5>
      </div>
      <div class="col-12">
        <form
          class="row"
          [formGroup]="userForm"
          (ngSubmit)="submitForm()"
          novalidate>
          <div class="col-md-4">
            <div class="abz-input-group">
              <input
                type="text"
                placeholder="Your name"
                class="input-field"
                formControlName="name"
                required
                minlength="2"
                maxlength="60">
              <label for="name">Name</label>
              <div
                class="hint"
                *ngIf="userForm.get('name').touched">
                <div
                  *ngIf="userForm.get('name').hasError('required')">
                  This filed is required
                </div>
                <div
                  *ngIf="userForm.get('name').hasError('minlength')">
                  Name must be at least 2 characters
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="abz-input-group">
              <input
                type="email"
                placeholder="Your email"
                class="input-field"
                formControlName="email"
                required>
              <label for="email">Email</label>
              <div
                class="hint"
                *ngIf="userForm.get('email').touched">
                <div
                  *ngIf="userForm.get('email').hasError('required')">
                  This filed is required
                </div>
                <div
                  *ngIf="userForm.get('email').hasError('email')">
                  Please enter valid email
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="abz-input-group">
              <input
                type="tel"
                placeholder="+38 (___) ___ __ __"
                class="input-field"
                formControlName="phone"
                required
                maxlength="13">
              <label for="phone">Phone</label>
              <div
                class="hint"
                *ngIf="userForm.get('phone').touched">
                <div
                  *ngIf="userForm.get('phone').hasError('required')">
                  This filed is required
                </div>
                <div
                  *ngIf="userForm.get('phone').hasError('pattern')">
                  Please enter valid phone
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <app-abz-select
              [options]="positions"
              [group]="userForm"
              [controlName]="'position_id'"
              [parentSubject]="parentSubject"></app-abz-select>
          </div>
          <div class="col-md-6">
            <app-abz-input-file
              [group]="userForm"
              [parentSubject]="parentSubject"
              (imageAdded)="onImageAdded($event)">
            </app-abz-input-file>
          </div>
          <div class="col-12">
            <button
              class="abz-btn"
              [disabled]="!userForm.valid">
              <span *ngIf="!formSubmitting">Sign Up</span>
              <div
                class="abz-loader abz-loader--white"
                *ngIf="formSubmitting">Loading...</div>
            </button>
            <div
              class="submit-status"
              *ngIf="formSubmitAttempt">
              <div
                class="success"
                *ngIf="formSubmittedSuccess">
                New user successfully added!
              </div>
              <div
                class="error"
                *ngIf="formSubmittedError">
                Unfortunately, an error occurred!<br>
                Please, check the internet conection or try again later.
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>